<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.geemi.facelibrary"
    tools:ignore="WrongManifestParent">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:requestLegacyExternalStorage="true"
        >
        <activity android:name=".ui.activity.GeemiContainerActivity" />
<!--        <activity android:name=".ui.activity.GeemiFaceInfoActivity"-->
<!--            android:windowSoftInputMode="stateHidden|adjustPan"-->
<!--            />-->
        <activity android:name=".ui.airing.SCActivity"/>

        <activity android:name=".ui.client.CommonWebView"/>

        <activity android:name=".ui.ar.DlListActivity"/>
        <activity android:name=".ui.ar.ARActivity"/>


        <!--采集成功页面-->
        <activity
            android:name=".faceui.CollectionSuccessActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_NoTitle" />

        <!-- 活体图像采集界面 -->
        <activity
            android:name="com.geemi.facelibrary.faceui.FaceLivenessExpActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            />

        <!-- 人脸跟踪采集界面 -->
        <activity
            android:name="com.geemi.facelibrary.faceui.FaceDetectExpActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_NoTitle" />

        <!-- 质量控制设置界面 -->
        <activity
            android:name="com.geemi.facelibrary.faceui.QualityControlActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_NoTitle" />

        <!-- 质量参数配置界面 -->
        <activity
            android:name="com.geemi.facelibrary.faceui.QualityParamsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_NoTitle"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!--安全设备指纹接入 start-->
        <activity
            android:name="com.baidu.liantian.LiantianActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent"
            android:excludeFromRecents="true"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="com.baidu.action.Liantian.VIEW" />
                <category android:name="com.baidu.category.liantian"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <receiver android:name="com.baidu.liantian.LiantianReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.baidu.action.Liantian.VIEW" />
                <category android:name="com.baidu.category.liantian"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <!--将com.baidu.idl.face.demo替换成您工程的包名-->
        <provider android:authorities="com.geemi.geemifaces.liantian.ac.provider" android:name="com.baidu.liantian.LiantianProvider" android:exported="true"/>

        <service
            android:name="com.baidu.liantian.LiantianService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.baidu.action.Liantian.VIEW" />
                <category android:name="com.baidu.category.liantian"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>

        <meta-data android:name="seckey_avscan" android:value= "660346260f8a841a04ec2a56815b421b"/>
        <meta-data android:name="appkey_avscan" android:value= "100034"/>
        <!--安全设备指纹接入 end-->

        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />

        <!--适配华为（huawei）刘海屏-->
        <meta-data
            android:name="android.notch_support"
            android:value="true"/>
        <!--适配小米（xiaomi）刘海屏-->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />





        <!-- Statistic(统计)-友盟统计 begin -->
        <!-- 官方网站：http://www.umeng.com/analytics -->
        <!-- meta-data节点android:name="UMENG_APPKEY"项中android:value值为友盟网站申请的APPKEY -->
        <!-- meta-data节点android:name="UMENG_CHANNEL"项中android:value值为发行渠道标识，可任意取值，用于各种发行渠道效果统计 -->
<!--        <meta-data-->
<!--            android:name="UMENG_APPKEY"-->
<!--            android:value="55b1b625e0f55a138300449d" />-->
<!--        <meta-data-->
<!--            android:name="UMENG_CHANNEL"-->
<!--            android:value="googleplay" />-->
<!--        &lt;!&ndash; 友盟统计  配置  end &ndash;&gt;-->

<!--        <provider-->
<!--            android:name="io.dcloud.common.util.DCloud_FileProvider"-->
<!--            android:authorities="${apk.applicationId}.dc.fileprovider"-->
<!--            android:exported="false"-->
<!--            android:grantUriPermissions="true">-->
<!--            <meta-data-->
<!--                android:name="android.support.FILE_PROVIDER_PATHS"-->
<!--                android:resource="@xml/dcloud_file_provider" />-->
<!--        </provider>-->

<!--        &lt;!&ndash; Maps(地图) begin &ndash;&gt;-->

<!--        <meta-data-->
<!--            android:name="com.amap.api.v2.apikey"-->
<!--            android:value="1245f55df04583e53eb0fbf511be9a08" />-->
<!--        <service android:name="com.amap.api.location.APSService" />-->
<!--        &lt;!&ndash; Maps(地图) end &ndash;&gt;-->

<!--        &lt;!&ndash; Oauth 授权登陆 start &ndash;&gt;-->
<!--        &lt;!&ndash; Oauth QQ start &ndash;&gt;-->
<!--        &lt;!&ndash; QQ 分享 配置和授权登陆相同 &ndash;&gt;-->
<!--        <meta-data-->
<!--            android:name="QQ_APPID"-->
<!--            android:value="1104455702" />-->

<!--        <activity-->
<!--            android:name="com.tencent.tauth.AuthActivity"-->
<!--            android:launchMode="singleTask"-->
<!--            android:noHistory="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.VIEW" />-->

<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->

<!--                <data android:scheme="1104455702" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
<!--        <activity-->
<!--            android:name="com.tencent.connect.common.AssistActivity"-->
<!--            android:screenOrientation="portrait"-->
<!--            android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->
<!--        &lt;!&ndash; Oauth QQ end &ndash;&gt;-->

<!--        &lt;!&ndash; Share(分享) begin &ndash;&gt;-->
<!--        &lt;!&ndash; Share - 新浪微博分享 &ndash;&gt;-->
<!--        &lt;!&ndash; 官方网站：http://open.weibo.com/ &ndash;&gt;-->
<!--        <meta-data-->
<!--            android:name="SINA_REDIRECT_URI"-->
<!--            android:value="http://www.dcloud.io/" />-->
<!--        <meta-data-->
<!--            android:name="SINA_SECRET"-->
<!--            android:value="b8fa3ec4b7e47a152044d9e8265cf593" />-->
<!--        <meta-data-->
<!--            android:name="SINA_APPKEY"-->
<!--            android:value="_3662743235" />-->
<!--        &lt;!&ndash; 分享 &ndash;&gt;-->


<!--        &lt;!&ndash; Share - 腾讯微博分享 &ndash;&gt;-->
<!--        &lt;!&ndash; 官方网站：http://dev.t.qq.com/ &ndash;&gt;-->
<!--        <meta-data-->
<!--            android:name="TENCENT_REDIRECT_URI"-->
<!--            android:value="%腾讯微博开放平台申请应用配置的回调地址%" />-->
<!--        <meta-data-->
<!--            android:name="TENCENT_SECRET"-->
<!--            android:value="%腾讯微博开放平台申请应用的Secret%" />-->
<!--        <meta-data-->
<!--            android:name="TENCENT_APPKEY"-->
<!--            android:value="_%腾讯微博开放平台申请应用的Appkey，注意前面要添加下划线%" />-->

<!--        <activity-->
<!--            android:name="io.dcloud.share.tencent.WebAuthorize"-->
<!--            android:theme="@android:style/Theme.NoTitleBar"/>-->
<!--        &lt;!&ndash; 微信分享 配置begin &ndash;&gt;-->
<!--        <meta-data-->
<!--            android:name="WX_SECRET"-->
<!--            android:value="fdc6251421d3d688a563b4f00dd540e7" />-->
<!--        <meta-data-->
<!--            android:name="WX_APPID"-->
<!--            android:value="wx0411fa6a39d61297" />-->

<!--        <activity-->
<!--            android:name=".wxapi.WXEntryActivity"-->
<!--            android:exported="true"-->
<!--            android:label="@string/app_name"-->
<!--            android:launchMode="singleTop">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.VIEW" />-->

<!--                <category android:name="android.intent.category.DEFAULT" />-->

<!--                <data android:scheme="wx0411fa6a39d61297" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
<!--&lt;!&ndash;         微信分享 配置 end &ndash;&gt;-->

<!--&lt;!&ndash;         微信支付配置 start &ndash;&gt;-->
<!--        <activity-->
<!--            android:name=".wxapi.WXPayEntryActivity"-->
<!--            android:exported="true"-->
<!--            android:launchMode="singleTop" />-->

<!--        <meta-data-->
<!--            android:name="WX_APPID"-->
<!--            android:value="wx0411fa6a39d61297" />-->

<!--        &lt;!&ndash; 微信支付配置end &ndash;&gt;-->
<!--        &lt;!&ndash; 小米分享 &ndash;&gt;-->
<!--        <meta-data-->
<!--            android:name="MIUI_APPID"-->
<!--            android:value="_%小米分享的APPID%" />-->
<!--        <meta-data-->
<!--            android:name="MIUI_APPSECRET"-->
<!--            android:value="%小米分享的appSecret%" />-->
<!--        <meta-data-->
<!--            android:name="MIUI_REDIRECT_URI"-->
<!--            android:value="%小米分享的回调地址%" />-->

<!--        <activity android:name="com.xiaomi.account.openauth.AuthorizeActivity" />-->
<!--        &lt;!&ndash; 小米分享 end &ndash;&gt;-->

<!--        &lt;!&ndash;百度语音识别 start&ndash;&gt;-->
<!--        <meta-data-->
<!--            android:name="com.baidu.speech.APP_ID"-->
<!--            android:value="11770490" />-->
<!--        <meta-data-->
<!--            android:name="com.baidu.speech.API_KEY"-->
<!--            android:value="cDFRHjbhBklzS1ZKFBnz9cHg" />-->
<!--        <meta-data-->
<!--            android:name="com.baidu.speech.SECRET_KEY"-->
<!--            android:value="vZK4rC7ueQTMrhavm3qVlnGicPTeUCEr" />-->

<!--        <service-->
<!--            android:name="com.baidu.speech.VoiceRecognitionService"-->
<!--            android:exported="false" />-->
<!--        &lt;!&ndash;百度语音识别 end&ndash;&gt;-->

<!--        <activity-->
<!--            android:name="io.dcloud.PandoraEntryActivity"-->
<!--            android:configChanges="orientation|keyboardHidden|screenSize|mcc|mnc|fontScale|keyboard"-->
<!--            android:hardwareAccelerated="true"-->
<!--            android:launchMode="singleTask"-->
<!--            android:permission="com.miui.securitycenter.permission.AppPermissionsEditor"-->
<!--            android:screenOrientation="user"-->
<!--            android:theme="@style/DCloudTheme"-->
<!--            android:windowSoftInputMode="adjustResize">-->

<!--            <intent-filter>-->

<!--                <category android:name="android.intent.category.DEFAULT" />-->

<!--                <category android:name="android.intent.category.BROWSABLE" />-->

<!--                <action android:name="android.intent.action.VIEW" />-->

<!--                <data android:scheme="h56131bcf" />-->
<!--            </intent-filter>-->
<!--        </activity>-->

    </application>
</manifest>